

  
}
body{
    text-align: center;
    
    

}
.container{
    width: 100%;
    height: 100vh;
    margin: 300px;
    align-items: center;
    display: block;
   
}
.form {
    margin: o;
    background-color: aqua;
    max-width: 350;
    
   
    
    
    
}
.form{
    margin: auto;
}
    